:root {
    border-width: 1px;
    border-style: solid;
    font-size-adjust: 12px;
    font-variant-position: 500;
    resize: 20px;
	border-color: #8c959f
}
body {
    font-family:"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    line-height: 1.5;
    color: #24292f;
    background-color: #ffffff;
}

body {
    margin: 0;
	box-sizing: border-box;
}

ul {
    list-style: none;
}

.spinner {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.buttonNoStyle {
    padding-top: 8px;
	background: none;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color:#8c959f;
}